*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
h1{
    text-align: center;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 50px;
}
.container{
    position:relative;
    border: 2px solid black;
    width:30%;
    float:left;
    margin-left:30px;
    background-color: rgb(156, 146, 146);   
}
.container h2{
    position: absolute;
    top: 0px;
    right: 0px;
    border-left:1px solid black;
    border-bottom: 1px solid black;
    width:130px;
    text-align: center;
}
.container p{
    clear:right;
    padding: 50px 20px 10px 20px;
}
#h1{
    background-color: rgb(212, 134, 160);
}
#h2{
    background-color: rgb(245, 42, 42);
    color: white;
}
#h3{
    background-color: rgb(236, 180, 89);
}
@media (min-width:768px) and (max-width:991px){
    .container{
        width:46%;
        margin-left: 20px;
    }
    .c3{
        margin-top: 10px;
        width:94.5%;
    }
}
@media (max-width:767px){
    .container{
        width:90%;
        margin-bottom: 30px;
    }
}